p,h1,h2,h3,h4,h5,h6,img{
  margin : 0px;
  padding:0px;
}
.setting{
  height:20px;
  width:22.86px;
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.body{
 background:white;
 margin-top: 20px;
 padding-left:10px;
}

.default_image{
  border-radius:50%;
  height:55px;
  width: 55px;
  
 
  
}

.username{
  font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
margin-left: 10px;
height:27px;
width:219px;
}

.username h5{
  margin-top: 5px;
  margin-bottom: 0px;
  font-weight: 20px;
}

.inner_username{

  font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #444A52;
margin-left: 10px;

}
@media only screen and (max-width: 768px) {
    .news-heading{
      padding-top: 7px;
    }

    .third-row{
      padding-top: 7px;
    }
}
.second_row{
  margin-top: 30px;
  
}

.news-heading{

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
height:17px;
width:50px;
color: #000000;


/* identical to box height */

display: flex;
align-items: center;

}



.third-row{
  
  margin-left: 5px;
}
.third-row p{
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 0px;
}


.third-row-para{
  color: #444A52;

}
.cntrl{
  padding-bottom: 0px;
  
}
.cntrl-2{
  padding-top: 0px;
}

.fourth-row{
  margin-top: 0px;
  margin-left: 5px;
  
}
.fourth-row-para{
  color: #A3A3A3;
  padding-top: 1px;
}
.fourth-row-para p{
  font-family: 'Roboto';
  font-style:normal;
  font-weight: normal;
  line-height: 14px;
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.fifth-row{
  margin-top: 19px;
}

.new-row{
 height:11px; 
}
.gym-heading{
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}

.gym-image{
  height:70px;
  width:70px;
  border-radius: 7%;
}

.sixth-row{
  padding-right:23px;
  height:92px;
}
.sixth-row-1{
  
}
.main-col{
  height:72px;
  padding-top:0px;
  padding-bottom:0px;
}
.gym-name{
  font-family: 'Roboto';

  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  
  color: #444A52;
}
.gym-details{
  margin-top: 0px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
padding-top: 5px;
color: #777777;
width:40;
  
}

.time-image{
  height:15px;
  width:15px;
  margin-right: 5px;
  padding-top:0px;
  padding-bottom:0px;

}
.col-img{
  padding-top:0px;
  padding-bottom:0px;
  height:72px;
}
.bottom{
  height:25px;
}
.icn{
  margin-top:20px;
}
ion-button{
  color:white;
  
  max-width:120px;
  height:25px;
  font-size: 10px;
  text-align: center;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;


}

.set{
  margin-top:0px;
  padding-top:0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height:25px;
}

.set1{
  margin-top:0px;
  padding-top:0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height:25px;
  padding-left:10px;
}
.btnn{
  height:25px;
  width:107px;
  border-radius: 100px;
  background-color: #4ECDC4;
  color:white;
}

.buttons{
  margin-top: 5px;
}
